.body{
    background-color: yellow;
    background-image: url("../img/axton.jpg");
    background-size: cover;
}

.button {
    display: block;
    text-align: center;
    width: 45%;
    flex-grow: 4;
}

#logo {
    display: block;
    text-align: center;
    width: 40%;
    flex-grow: 2;
}

#borderlands {
    display: flex;
    gap: 10px;
    gap: 10px 20px;
    row-gap: 10px;
    column-gap: 20px;
}

.personaje1 {
    border-style: solid;
    border-width: 5px;
    border-color: black;
}

#roland {
    display: block;
    text-align: left;
    width: 38%;
}

.personaje2 {
    border-style: solid;
    border-width: 5px;
    border-color: black;
}

#lilith {
    display: block;
    text-align: left;
    width: 30%;
}

.personaje3 {
    border-style: solid;
    border-width: 5px;
    border-color: black;
}

#mordecai {
    display: block;
    text-align: left;
    width: 30%;
}

.personaje4 {
    border-style: solid;
    border-width: 5px;
    border-color: black;
}

#brick {
    display: block;
    text-align: left;
    width: 37%;
}

#logo2 {
    display: block;
    text-align: center;
    width: 40%;
    flex-grow: 2;
}

#borderlands2 {
    display: flex;
    gap: 10px;
    gap: 10px 20px;
    row-gap: 10px;
    column-gap: 20px;
    flex-grow: 6;
}

.personaje5 {
    border-style: solid;
    border-width: 5px;
    border-color: black;
}

#axton {
    display: block;
    text-align: left;
    width: 30%;
}

.personaje6 {
    border-style: solid;
    border-width: 5px;
    border-color: black;
}

#maya {
    display: block;
    text-align: left;
    width: 35%;
}

.personaje7 {
    border-style: solid;
    border-width: 5px;
    border-color: black;
}

#zer0 {
    display: block;
    text-align: left;
    width: 62%;
}

.personaje8 {
    border-style: solid;
    border-width: 5px;
    border-color: black;
}

#salvador{
    display: block;
    text-align: left;
    width: 60%;
}

#borderlands2DLC {
    display: flex;
    gap: 10px;
    gap: 10px 20px;
    row-gap: 10px;
    column-gap: 20px;
    flex-grow: 6;
    margin-top: 0.5cm;
}

.personaje9 {
    border-style: solid;
    border-width: 5px;
    border-color: black;
}

#gaige{
    display: block;
    text-align: left;
    width: 30%;
}
.personaje10 {
    border-style: solid;
    border-width: 5px;
    border-color: black;
}

#krieg{
    display: block;
    text-align: left;
    width: 50%;
}

#logo3 {
    display: block;
    text-align: center;
    width: 40%;
    flex-grow: 2;
}

#borderlandsPre-sequel {
    display: flex;
    gap: 10px;
    gap: 10px 20px;
    row-gap: 10px;
    column-gap: 20px;
    flex-grow: 6;
}

.personaje11 {
    border-style: solid;
    border-width: 5px;
    border-color: black;
}

#atenas {
    display: block;
    text-align: left;
    width: 30%;
}

.personaje12 {
    border-style: solid;
    border-width: 5px;
    border-color: black;
}

#nisha {
    display: block;
    text-align: left;
    width: 30%;
}

.personaje13 {
    border-style: solid;
    border-width: 5px;
    border-color: black;
}

#wilhelm {
    display: block;
    text-align: left;
    width: 30%;
}

.personaje14 {
    border-style: solid;
    border-width: 5px;
    border-color: black;
}

#claptrap{
    display: block;
    text-align: left;
    width: 40%;
}

#borderlandsPre-sequelDLC {
    display: flex;
    gap: 10px;
    gap: 10px 20px;
    row-gap: 10px;
    column-gap: 20px;
    flex-grow: 6;
    margin-top: 0.5cm;
}

.personaje15 {
    border-style: solid;
    border-width: 5px;
    border-color: black;
}

#aurelia{
    display: block;
    text-align: left;
    width: 30%;
}
.personaje16 {
    border-style: solid;
    border-width: 5px;
    border-color: black;
}

#timothy{
    display: block;
    text-align: left;
    width: 30%;
}